.phone-mail {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.phone-mail > a {
  color: var(--color-white);
  font-size: 14px;
}

.personal-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.personal-link-icon {
  height: 24px;
}
